/* #animation {
    background-color: #080a3c;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#animation::after {
    content: '';
    background-image: url(../../assets/images/images/footer-shape1.png);
    background-image: url();
    width: 100%;
    height: 100%;
    position: absolute;
    animation: imgChange 1s linear 1s infinite;
}

#animation::before {
    content: '';
    background-image: url(../../assets/images/images/footer-shape2.png);
    width: 100%;
    height: 100%;
    position: absolute;
    animation: imgChangeTwo 1s linear 1s infinite;
}

@keyframes imgChange {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes imgChangeTwo {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} */